#map {
  position: fixed;
  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;
}

.pop.fullscreen .btn {
  margin: 0;
}
.pop .btn.btn-x {
  margin: 9px;
}
.pop.fullscreen .btn.btn-x {
  margin: 12px;
}

.pop h2 {
  margin: 0;
  padding: 8px 3px;
  border-radius: var(--border-radius);
}
.pop h2.yellow {
  background-color: rgb(255,255,25);
}
.pop h2.orange {
  background-color: rgb(255,102,0);
}
.pop h2.red {
  background-color: rgb(255,18,0);
  color: white;
}

.pop h3 {
  margin: 5px 0 2px;
}

.pop .clps {
  margin-bottom: 5px;
}
.pop .content:first-child {
  padding: 3px;
}

.pop .btn.info {
  display: block;
  text-align: left;
  padding-left: 30px;
  background-position-x: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22297%22%20height%3D%22297%22%3E%3Cg%20style%3D%22fill%3Argba(0%2C0%2C0%2C.55)%22%3E%3Cpath%20d%3D%22M237.333%2C33h-50.14c-2.558-18.613-18.556-33-37.86-33s-35.303%2C14.387-37.86%2C33h-51.14C50.408%2C33%2C42%2C41.075%2C42%2C51v228%20c0%2C9.925%2C8.408%2C18%2C18.333%2C18h177c9.925%2C0%2C17.667-8.075%2C17.667-18V51C255%2C41.075%2C247.258%2C33%2C237.333%2C33z%20M93.052%2C48%20c3.432%2C18.033%2C19.084%2C31%2C38.092%2C31h36.379c19.008%2C0%2C34.66-12.967%2C38.092-31H223v216H75V48H93.052z%20M149.333%2C16%20c10.456%2C0%2C19.242%2C7.259%2C21.601%2C17h-43.201C130.091%2C23.259%2C138.877%2C16%2C149.333%2C16z%22%2F%3E%3Crect%20x%3D%2299%22%20y%3D%22109%22%20width%3D%2250%22%20height%3D%2215%22%2F%3E%3Cpolygon%20points%3D%22200.689%2C105.076%20189.645%2C94.924%20175.427%2C110.39%20169.237%2C105.347%20159.763%2C116.976%20176.907%2C130.944%22%2F%3E%3Crect%20x%3D%2299%22%20y%3D%22157%22%20width%3D%2250%22%20height%3D%2215%22%2F%3E%3Cpolygon%20points%3D%22200.689%2C153.076%20189.645%2C142.924%20175.427%2C158.39%20169.237%2C153.347%20159.763%2C164.976%20176.907%2C178.944%22%2F%3E%3Crect%20x%3D%2299%22%20y%3D%22205%22%20width%3D%2250%22%20height%3D%2215%22%2F%3E%3Cpolygon%20points%3D%22200.689%2C201.076%20189.645%2C190.924%20175.427%2C206.39%20169.237%2C201.347%20159.763%2C212.976%20176.907%2C226.944%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.pop .btn.info:hover {
  display: block;
  text-align: left;
  padding-left: 30px;
  background-position-x: 0;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22297%22%20height%3D%22297%22%3E%3Cg%20style%3D%22fill%3A%23000%22%3E%3Cpath%20d%3D%22M237.333%2C33h-50.14c-2.558-18.613-18.556-33-37.86-33s-35.303%2C14.387-37.86%2C33h-51.14C50.408%2C33%2C42%2C41.075%2C42%2C51v228%20c0%2C9.925%2C8.408%2C18%2C18.333%2C18h177c9.925%2C0%2C17.667-8.075%2C17.667-18V51C255%2C41.075%2C247.258%2C33%2C237.333%2C33z%20M93.052%2C48%20c3.432%2C18.033%2C19.084%2C31%2C38.092%2C31h36.379c19.008%2C0%2C34.66-12.967%2C38.092-31H223v216H75V48H93.052z%20M149.333%2C16%20c10.456%2C0%2C19.242%2C7.259%2C21.601%2C17h-43.201C130.091%2C23.259%2C138.877%2C16%2C149.333%2C16z%22%2F%3E%3Crect%20x%3D%2299%22%20y%3D%22109%22%20width%3D%2250%22%20height%3D%2215%22%2F%3E%3Cpolygon%20points%3D%22200.689%2C105.076%20189.645%2C94.924%20175.427%2C110.39%20169.237%2C105.347%20159.763%2C116.976%20176.907%2C130.944%22%2F%3E%3Crect%20x%3D%2299%22%20y%3D%22157%22%20width%3D%2250%22%20height%3D%2215%22%2F%3E%3Cpolygon%20points%3D%22200.689%2C153.076%20189.645%2C142.924%20175.427%2C158.39%20169.237%2C153.347%20159.763%2C164.976%20176.907%2C178.944%22%2F%3E%3Crect%20x%3D%2299%22%20y%3D%22205%22%20width%3D%2250%22%20height%3D%2215%22%2F%3E%3Cpolygon%20points%3D%22200.689%2C201.076%20189.645%2C190.924%20175.427%2C206.39%20169.237%2C201.347%20159.763%2C212.976%20176.907%2C226.944%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

#lng {
  z-index: 1;
}